.form-layout {
  margin: 0rem 5em;
}

.form-content {
  padding-top: 3rem;
  height: 100%;
  display: grid;
  justify-content: center;
  font-weight: 600;
}

.form-title {
  text-align: center;
  animation: rGB 10s infinite;
}

@keyframes rGB {
  0% {
    color: #ff0000;
  }
  40% {
    color: #00ff00;
  }
  80% {
    color: #0000ff;
  }
  100% {
    color: #ff0000;
  }
}

.form-form {
  display: grid;
  width: 600px;
}
